html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */


#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  height: calc(100% - 70px);
  background-color: #EDE7F6;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}


/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}


span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

#fullscreen {
  width: 100%;
}

.main-layout {
  height: 100%;
}

.menu-button {
  width: 100px;
}
.toolbar-title-label {
  text-align: center;
}
.view-toggle-button {
  width: 100px;
}


.drink-small-grid {
  margin-top: 40px;
  padding-bottom: 40px;
}

.drink-small-card {
  text-align: center;
  width: 250px;
  margin-bottom: 40px;
  background-color: #000000;
}

.drink-small-card-img {
  display: block;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.drink-small-card-title-row {
  background-color: #673AB7;
  color: #FFFFFF;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 90px;
}


.drink-card-carousel-outer {
  height: 100%;
  overflow: hidden;
}

.drink-card-carousel-inner {
  height: 100%;
  overflow: hidden;
}

.drink-big-card {
  text-align: center;
  height: calc(100% - 80px);
  width: calc(100% - 50px);
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.drink-big-card-title-row {
  background-color: #673AB7;
  color: #FFFFFF;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.drink-big-card-drink-name {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.drink-big-card-gimme-row {
  background-color: #000000;
  margin-top: -10px;
  margin-left: -16px;
  margin-right: -16px;
  padding-bottom: 30px;  
}

.drink-big-card-img {
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.gimme-button {
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #008878;
  color: #E7E0F3;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.50);
  margin-top: 55px;
}

.serving-widget {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.serving-slider {
  height: 100px;
  margin-top: 40px;
  margin-left: 41px;
  margin-right: 41px;
}

.serving-big-card-canvas {
  display: block;
  height: 125px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -110px;
}

.drink-big-card-serving-size-label {
  margin-bottom: 0px;
}

.drink-big-card-customize-button {
  background-color: #DFDFDF;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.drink-big-card-customize-label {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*
.drink-big-card-ingredients-label {
  margin-top: 0px;
  margin-bottom: 0px;
}
*/

.ingredient-list {
  height: 125px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 0px;
}
@media (min-height: 700px) {
  .ingredient-list {
    height: 125px;
  }
}
@media (min-height: 950px) {
  .ingredient-list {
    height: 378px;
  }
}

.ingredient-item {
  list-style-type: none;
}

.garnish-item {
  list-style-type: none;
  margin-top: 10px;
  font-style: italic;
}

.gimme-button:not([disabled]):hover {
  background-color: #008878;
}

.serving-slider-outer {
  padding-top: 40px;
}

.noUi-base {
  width: 80px;
  left: -30px;
}

.noUi-vertical .noUi-handle {
  background: none;
  box-shadow: none;
  border: none;
  width: 80px;
  left: -30px;
}

.noUi-handle:before, .noUi-handle:after {
  background: none;
}

/* Status Page */
.status-logo-row {
  margin-top: 12px;
  margin-left: 0px;
  width: 955px;
  height: 150px;
  background-color: #673AB7;
  border-width: 2px;
  border-color: blue;
  border-style: solid;  
}

.status-bar-row {
  margin-top: 50px;
  margin-left: 0px;
  width: 955px;
  height: 135px;
  background-color: #000000;
  border-width: 2px;
  border-color: blue;
  border-style: solid;  
}

.status-bar-message {
  color: #673AB7;
  align-self: center;
  text-align: center;
  width: 100%;
  font-size: 40px;
}

.bleeder-start-button {
  background-color: grey;
  color: white;
  margin-left: 30px;
}

.bleeder-stop-button {
  background-color: grey;
  color: white;
  margin-left: 30px;
}

.bleeder-ingredient-row {
  border-width: 2px;
  border-color: black;
  border-style: solid;  
  height: 84px;
}

.bleeder-pos {
  padding-top: 30px;
  padding-left: 10px;
}

.bleeder-ingredient-name {
  padding-top: 30px;
}

.bleeder-slider {
  margin-top: 18px
}

.bleeder-bleed-button {
  background-color: grey;
  color: white;
  margin-left: 30px;
}

.customize-title-row > h1 {
  margin-left: auto;
  margin-right: auto;
}

.customize-ingredient-header-row {
  height: 70px;
}

.customize-gimme {
  background-color: #008878;
  color: #E7E0F3;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.customize-cancel {
  background-color: #DFDFDF;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}


.customize-ingredient-row {
  height: 50px;
}

.customize-ingredient-name {
  padding-top: 16px;
  padding-left: 10px;
}

.customize-ingredient-slider {

}

.customize-ingredient-amount {
  padding-top: 16px;
  text-align: right;
  padding-right: 5px;
}

.customize-ingredient-type {
  padding-top: 7px;
  padding-bottom: 10px;
}

.customize-cup {
  width: 60px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

