<md-dialog>
	<md-dialog-content>
		<div ng-if="currentState == 'customize'">
	        <div layout="row" class="customize-title-row">
				<h1>Customize your {{ currentDrink.recipe_name }}</h1>
			</div>
	        <div layout="row" class="customize-ingredient-header-row">
				<md-button class="customize-gimme" ng-click="gimme()">GIMME</md-button>
				<md-button class="customize-cancel" ng-click="done()">Cancel</md-button>
			</div>
	        <div layout="row" class="customize-ingredient-row" ng-repeat="ingredient in currentDrink.ingredients | filter:realIngredientFilter">
	          <div flex="30" class="customize-ingredient-name">
	            {{ ingredient.ingredient_name }}
	          </div>
	          <div flex="30">
	            <md-slider class="customize-ingredient-slider" md-discrete ng-model="ingredient.chosen_amount" step="0.5" min="0" max="10"></md-slider>
	          </div>
	          <div flex="10" class="customize-ingredient-amount">
	          	{{ ingredient.chosen_amount }}
	          </div>
	          <div flex="30">
	          	<md-select class="customize-ingredient-type" ng-model="ingredient.chosen_type" placeholder="Amount">
				  <md-option ng-value="opt" ng-repeat="opt in ['parts', 'tsps', 'splashes', 'dashes']">{{ opt }}</md-option>
				</md-select>
	          </div>
	        </div>
		</div>
		<div ng-if="currentState == 'wait_for_glass'">
	        <div layout="row" class="customize-title-row">
				<h1>Place a glass on the tray</h1>
			</div>
	        <div layout="row">
				<img src="/assets/img/EmptyCup.png" class="customize-cup"></img>
	        </div>
	        <div layout="row">
				<!--<md-button class="customize-cancel" ng-click="skipCupCheck()">Go anyway</md-button>-->
				<md-button class="customize-cancel" ng-click="done()">Cancel</md-button>
	        </div>
		</div>
		<div ng-if="currentState == 'confirm_glass'">
	        <div layout="row" class="customize-title-row">
				<h1>Confirming glass</h1>
			</div>
	        <div layout="row">
				<h4>Please wait for {{Math.ceil(remainingTime/1000)}}</h4>
			</div>
	        <div layout="row">
				<md-button class="customize-cancel" ng-click="cancel()">Cancel</md-button>
			</div>
		</div>
		<div ng-if="currentState == 'wait_for_pour'">
	        <div layout="row" class="customize-title-row">
				<h1>Your {{ currentDrink.recipe_name }} is being made</h1>
			</div>
	        <div layout="row">
				<md-button class="customize-cancel" ng-click="cancel()">Cancel</md-button>
			</div>
		</div>
		<div ng-if="currentState == 'wait_for_take'">
	        <div layout="row" class="customize-title-row">
				<h1>Enjoy your {{ currentDrink.recipe_name }}</h1>
			</div>
	        <div layout="row" ng-if="(currentDrink.ingredients | filter:ingredientFilter('garnish')).length > 0">
                  <span>Garnish with <span ng-repeat="ingredient in currentDrink.ingredients | filter:ingredientFilter('garnish')"><span ng-if="$last && !$first">and </span> {{ ingredient.ingredient_name }}<span ng-if="!$last">, </span></span></span>
            </div>
	        <div layout="row">
				<md-button class="customize-cancel" ng-click="done()">Done</md-button>
			</div>
		</div>
		<div ng-if="currentState == 'drink_taken'">
	        <div layout="row" class="customize-title-row">
				<h1>Enjoy your {{ currentDrink.recipe_name }}</h1>
			</div>
	        <div layout="row" ng-if="(currentDrink.ingredients | filter:ingredientFilter('garnish')).length > 0">
                  <span>Garnish with <span ng-repeat="ingredient in currentDrink.ingredients | filter:ingredientFilter('garnish')"><span ng-if="$last && !$first">and </span> {{ ingredient.ingredient_name }}<span ng-if="!$last">, </span></span></span>
            </div>
            <!--
			<div layout="row">
				<<h3>{{Math.ceil(remainingTime/1000)}}</h3>
			</div>
			-->
			<div layout="row">
				<md-button class="customize-cancel" ng-click="done()">Done</md-button>
			</div>
		</div>

	</md-dialog-content>
</md-dialog>