<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>R2Drink2</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='/lib/jquery-ui/jquery-ui.css'>
    <link rel='stylesheet' href='/lib/nouislider/jquery.nouislider.css'>
    <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.css'>
    <link rel="stylesheet" href="/lib/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="/lib/angular-carousel/angular-carousel.css"/>
    <link rel='stylesheet' href='/assets/fonts/fonts.css'>
    <link rel="stylesheet" href="/assets/app.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/r2drink2-inverse-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/r2drink2-inverse-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/r2drink2-inverse-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/r2drink2-inverse-icon-144x144.png" />
  </head>

  <body layout="row" ng-controller="BleederController as bc">

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z main-layout">

      <md-content flex id="content">
      
        <div layout="row" class="bleeder-ingredient-row">
          <div flex="20">
            <md-button class="bleeder-start-button" ng-click="bc.start_pour()">
              <h3>START</h3>
            </md-button>
          </div>
          <div flex="20">
            <md-button class="bleeder-stop-button" ng-click="bc.end_pour()">
              <h3>STOP</h3>
            </md-button>
          </div>
          <div flex="20">
            <md-button class="bleeder-stop-button" ng-click="bc.tare()">
              <h3>TARE SCALE</h3>
            </md-button>
          </div>
          <div flex>
           <br><span>Raw weight grams: {{ bc.scale_state.weight_grams }}</span>
           <br><span>Has cup: {{ bc.scale_state.has_cup }}</span>
           <br><span>Ice fl oz: {{ bc.scale_state.ice_fl_oz }}</span>
          </div>
        </div>
        <div layout="row" class="bleeder-ingredient-row">
          <div flex="50">
            <md-input-container>
              <label>Status message</label>
              <input ng-model="bc.status_message.message_text">
            </md-input-container>
          </div>
          <div flex="20">
            <md-button class="bleeder-stop-button" ng-click="bc.set_status_message()">
              <h3>SET</h3>
            </md-button>
          </div>
          <div flex="30">
          </div>
        </div>

        <div layout="row" class="bleeder-ingredient-row" ng-repeat="ingredient in bc.ALL_INGREDIENTS">
          <div flex="10" class="bleeder-pos">
            {{ ingredient.valve_number }}
            <span ng-if="ingredient.valve_position == '01'">[Center]</span> 
            <span ng-if="ingredient.valve_position == '02'">[Left]</span> 
            <span ng-if="ingredient.valve_position == '03'">[Right]</span> 
          </div>
          <div flex="30" class="bleeder-ingredient-name">
            <span>{{ ingredient.ingredient_name }}</span>
            <span ng-if="ingredient.valve_number">({{bc.bleed_time_ms[ingredient.ingredient_name]}} ms)</span>
          </div>
          <div flex="40" ng-if="ingredient.valve_number">
            <md-slider class="bleeder-slider" md-discrete ng-model="bc.bleed_time_ms[ingredient.ingredient_name]" step="10" min="0" max="1000"></md-slider>
          </div>
          <div flex="20" ng-if="ingredient.valve_number">
            <md-button class="bleeder-bleed-button" ng-click="bc.bleed(ingredient, bc.bleed_time_ms[ingredient.ingredient_name])">
              <h3>BLEED</h3>
            </md-button>
          </div>
        </div>
      </md-content>
    </div>

    <script src="/lib/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
      jQuery.extend({
        postJSON: function(url, data, callback) {
          return jQuery.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(data),
            success: callback,
            dataType: "json",
            contentType: "application/json",
            processData: false
          });
        },
        delete: function(url, callback) {
          return jQuery.ajax({
            type: "DELETE",
            url: url,
            success: callback,
            dataType: "json"
          });
        }
      });    
    </script>
    <script src="/lib/jquery-ui/jquery-ui.js"></script>
    <script src="/lib/lodash/lodash.js"></script>
    <script src="/lib/screenful/screenfull.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-touch/angular-touch.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/angular-aria/angular-aria.js"></script>
    <script src="/lib/angular-material/angular-material.js"></script>
    <script src="/lib/angular-deferred-bootstrap/angular-deferred-bootstrap.min.js"></script>
    <script src="/lib/angular-carousel/angular-carousel.js"></script>
    <script src="/lib/nouislider/jquery.nouislider.js"></script>
    <script src="/lib/nouislider/nouislider.js"></script>


    <script src="/src/drinks/Drinks.js"></script>
    <script src="/src/drinks/BleederController.js"></script>
    <script src="/src/drinks/DrinkService.js"></script>

    <script type="text/javascript">


      angular
          .module('r2drink2app', ['ngMaterial', 'ngTouch', 'angular-carousel', 'nouislider', 'drinks'])
          .config(function($mdThemingProvider, $mdGestureProvider){
            $mdThemingProvider.theme('default')
                .primaryPalette('deep-purple')
                .accentPalette('indigo');
          });

      deferredBootstrapper.bootstrap({
        element: document.body,
        module: 'r2drink2app',
        resolve: {
          ALL_RECIPES: ['$http', function ($http) {
            return $http.get('/api/recipes');
          }],
          ALL_INGREDIENTS: ['$http', function ($http) {
            return $http.get('/api/ingredients');
          }],
          MENU: ['$http', function ($http) {
            return $http.get('/api/menu');
          }],
        }
      });

    </script>

  </body>
</html>
