<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>R2Drink2</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta property="og:title" content="R2Drink2 Interface Demo" />
    <meta property="og:site_name" content="R2Drink2 Demo"/>
    <meta property="og:url" content="http://demo.r2drink2.com" />
    <meta property="og:description" content="Try out the web-based UI for R2Drink2, the robot bartender. Browse our drink selection and tinker with options. Optimized for tablets and desktops." />
    <meta property="og:image" content="http://demo.r2drink2.com/assets/icons/fb_logo.jpg" />
    <link rel='stylesheet' href='/lib/jquery-ui/jquery-ui.css'>
    <link rel='stylesheet' href='/lib/nouislider/jquery.nouislider.css'>
    <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.css'>
    <link rel="stylesheet" href="/lib/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="/lib/angular-carousel/angular-carousel.css"/>
    <link rel='stylesheet' href='/assets/fonts/fonts.css'>
    <link rel="stylesheet" href="/assets/app.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/r2drink2-inverse-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/r2drink2-inverse-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/r2drink2-inverse-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/r2drink2-inverse-icon-144x144.png" />
  </head>

  <body layout="row" ng-controller="DrinkController as dl">
    <!--<button id="fullscreen">Make Fullscreen</button>-->

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z main-layout">

      <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
          <md-menu>
            <md-button ng-click="$mdOpenMenu()" class="md-button menu-button" aria-label="Drinks">
              <i class="fa fa-glass"></i>
              Menu
            </md-button>
            <md-menu-content>
              <md-menu-item ng-repeat="drink_category in dl.drinkCategories">
                <md-button ng-click="dl.searchDrinks(drink_category)">{{ drink_category.display_name }}</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <span flex class="toolbar-title-label">{{ dl.currentCategory.display_name }}</span>
          <span class="view-toggle-button">
            <md-button ng-show="dl.showCarousel" ng-click="dl.showDrinkList()" class="md-button">
              <i class="fa fa-th"></i>
            </md-button>
          </span>
        </div>
      </md-toolbar>


      <md-content flex id="content">

        <div ng-if="dl.showCarousel" class="drink-card-carousel-outer">
          <ul class="drink-card-carousel-inner" rn-carousel rn-carousel-buffered rn-carousel-controls rn-carousel-index="dl.currentDrinkIndex">
            <li ng-repeat="drink in dl.currentDrinks">

              <md-card class="drink-big-card">
                <md-card-content>
                  <div layout="row" class="drink-big-card-title-row">
                    <div flex>
                      <h1 class="drink-big-card-drink-name">{{drink.recipe_name}}</h1>
                    </div>
                  </div>

                  <div layout="row" class="drink-big-card-gimme-row">
                    <div flex="30">
                      <img ng-src="{{ drink.image_url }}" class="md-card-image drink-big-card-img" alt="image caption">
                    </div>
                    <div flex="40">
                      <md-button class="gimme-button" ng-click="dl.gimme()"><h2>GIMME!</h2></md-button>
                    </div>
                    <div flex="30">
                      <div class="serving-widget">
                        <div slider ng-model="dl.currentDrink.serving_size_oz" start="0" end="6" step="0.5"class="serving-slider"></div>
                        <div fill-cup serving-size-oz="dl.currentDrink.serving_size_oz" ice-size-oz="dl.currentIceFlOz" cup-size-oz="6"></div>
                      </div>
                    </div>
                  </div>

                  <div layout="row">
                    <div flex>
                      <h4 class="drink-big-card-serving-size-label">Serving size: {{ dl.currentDrink.serving_size_oz }} oz</h4>
                    </div>
                  </div>
                  <div layout="row">
                    <div flex>
                      <md-button class="drink-big-card-customize-button" ng-click="dl.customize()"><h2 class="drink-big-card-customize-label">Customize Recipe</h2></md-button>
                    </div>
                  </div>

                  <div layout="row">
                    <div flex="100">
                      <!--<h4 class="drink-big-card-ingredients-label">Ingredients</h4>-->
                      <ul class="ingredient-list">
                        <li class="ingredient-item" ng-repeat="ingredient in drink.ingredients | filter:dl.ingredientFilter('parts')">
                          <span ng-if="ingredient.parts <=1">{{ ingredient.parts }} part {{ ingredient.ingredient_name }}</span>
                          <span ng-if="ingredient.parts > 1">{{ ingredient.parts }} parts {{ ingredient.ingredient_name }}</span>
                        </li>
                        <li class="ingredient-item" ng-repeat="ingredient in drink.ingredients | filter:dl.ingredientFilter('tsps')">
                          <span ng-if="ingredient.tsps <=1">{{ ingredient.tsps }} tsp {{ ingredient.ingredient_name }}</span>
                          <span ng-if="ingredient.tsps > 1">{{ ingredient.tsps }} tsps {{ ingredient.ingredient_name }}</span>
                        </li>
                        <li class="ingredient-item" ng-repeat="ingredient in drink.ingredients | filter:dl.ingredientFilter('splashes')">
                          <span ng-if="ingredient.splashes <=1">{{ ingredient.splashes }} splash {{ ingredient.ingredient_name }}</span>
                          <span ng-if="ingredient.splashes > 1">{{ ingredient.splashes }} splashes {{ ingredient.ingredient_name }}</span>
                        </li>
                        <li class="ingredient-item" ng-repeat="ingredient in drink.ingredients | filter:dl.ingredientFilter('dashes')">
                          <span ng-if="ingredient.dashes <=1">{{ ingredient.dashes }} dash {{ ingredient.ingredient_name }}</span>
                          <span ng-if="ingredient.dashes > 1">{{ ingredient.dashes }} dashes {{ ingredient.ingredient_name }}</span>
                        </li>
                        <li class="garnish-item" ng-if="(drink.ingredients | filter:dl.ingredientFilter('garnish')).length > 0">
                          Garnish with <span ng-repeat="ingredient in drink.ingredients | filter:dl.ingredientFilter('garnish')"><span ng-if="$last && !$first">and </span>{{ ingredient.ingredient_name }}<span ng-if="!$last">, </span></span>
                        </li>
                      </ul>
                    </div>
                  </div>




                </md-card-content>
              </md-card>

            </li>
          </ul>
        </div>

        <div ng-if="!dl.showCarousel">
          <md-grid-list 
              md-cols-gt-md="3"
              md-cols-xs="1" 
              md-cols-sm="1" 
              md-cols-md="3"
              md-row-height="250px"
              md-gutter="40px">
            <md-grid-tile class="drink-small-grid" ng-repeat="drink in dl.currentDrinks">
              <md-card class="drink-small-card" ng-click="dl.selectDrink(drink.recipe_name)">
               <img ng-src="{{ drink.image_url }}" class="md-card-image drink-small-card-img" alt="image caption">
               <md-card-content class="drink-small-card-title-row">
                 <h2>{{drink.recipe_name}}</h2>
               </md-card-content>
              </md-card>

            </md-grid-tile>
          </md-grid-list>
        </div>

      </md-content>
    </div>

    <script src="/lib/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
      jQuery.extend({
        postJSON: function(url, data, callback) {
          return jQuery.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(data),
            success: callback,
            dataType: "json",
            contentType: "application/json",
            processData: false
          });
        },
        delete: function(url, callback) {
          return jQuery.ajax({
            type: "DELETE",
            url: url,
            success: callback,
            dataType: "json"
          });
        }
      });    
    </script>
    <script src="/lib/jquery-ui/jquery-ui.js"></script>
    <script src="/lib/lodash/lodash.js"></script>
    <script src="/lib/screenful/screenfull.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-touch/angular-touch.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/angular-aria/angular-aria.js"></script>
    <script src="/lib/angular-material/angular-material.js"></script>
    <script src="/lib/angular-deferred-bootstrap/angular-deferred-bootstrap.min.js"></script>
    <script src="/lib/angular-carousel/angular-carousel.js"></script>
    <script src="/lib/nouislider/jquery.nouislider.js"></script>
    <script src="/lib/nouislider/nouislider.js"></script>


    <script src="/src/drinks/Drinks.js"></script>
    <script src="/src/drinks/DrinkController.js"></script>
    <script src="/src/drinks/DrinkService.js"></script>
    <script src="/src/drinks/FillCup.js"></script>

    <script type="text/javascript">
      /*
      $('#fullscreen').on('click', function () {
          if (screenfull.enabled) {
              screenfull.request();
          }
          $('#fullscreen').hide();
      });
      */


      angular
          .module('r2drink2app', ['ngMaterial', 'ngTouch', 'angular-carousel', 'nouislider', 'drinks'])
          .config(function($mdThemingProvider, $mdGestureProvider){
            $mdThemingProvider.theme('default')
                .primaryPalette('deep-purple')
                .accentPalette('indigo');
          });

      deferredBootstrapper.bootstrap({
        element: document.body,
        module: 'r2drink2app',
        resolve: {
          ALL_RECIPES: ['$http', function ($http) {
            return $http.get('/api/recipes');
          }],
          ALL_INGREDIENTS: ['$http', function ($http) {
            return $http.get('/api/ingredients');
          }],
          MENU: ['$http', function ($http) {
            return $http.get('/api/menu');
          }],
        }
      });

    </script>

  </body>
</html>