<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>R2Drink2</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='/lib/jquery-ui/jquery-ui.css'>
    <link rel='stylesheet' href='/lib/nouislider/jquery.nouislider.css'>
    <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.css'>
    <link rel="stylesheet" href="/lib/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="/lib/angular-carousel/angular-carousel.css"/>
    <link rel='stylesheet' href='/assets/fonts/fonts.css'>
    <link rel="stylesheet" href="/assets/app.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/r2drink2-inverse-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/r2drink2-inverse-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/r2drink2-inverse-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/r2drink2-inverse-icon-144x144.png" />
  </head>

  <body layout="row" ng-controller="StatusController as sc">

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z main-layout">

      <md-content flex id="content" ng-click="sc.reload()">

      	<div layout="row" class="status-logo-row">
      	</div>
      	<div layout="row" class="status-bar-row">
            <h2 class="status-bar-message">{{ sc.status_message.message_text }}</h2>
      	</div>

      </md-content>
    </div>

    <script src="/lib/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
      jQuery.extend({
        postJSON: function(url, data, callback) {
          return jQuery.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(data),
            success: callback,
            dataType: "json",
            contentType: "application/json",
            processData: false
          });
        },
        delete: function(url, callback) {
          return jQuery.ajax({
            type: "DELETE",
            url: url,
            success: callback,
            dataType: "json"
          });
        }
      });    
    </script>
    <script src="/lib/jquery-ui/jquery-ui.js"></script>
    <script src="/lib/lodash/lodash.js"></script>
    <script src="/lib/screenful/screenfull.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-touch/angular-touch.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/angular-aria/angular-aria.js"></script>
    <script src="/lib/angular-material/angular-material.js"></script>
    <script src="/lib/angular-deferred-bootstrap/angular-deferred-bootstrap.min.js"></script>
    <script src="/lib/angular-carousel/angular-carousel.js"></script>
    <script src="/lib/nouislider/jquery.nouislider.js"></script>
    <script src="/lib/nouislider/nouislider.js"></script>


    <script src="/src/drinks/Drinks.js"></script>
    <script src="/src/drinks/StatusController.js"></script>
    <script src="/src/drinks/DrinkService.js"></script>

    <script type="text/javascript">


      angular
          .module('r2drink2app', ['ngMaterial', 'ngTouch', 'angular-carousel', 'nouislider', 'drinks'])
          .config(function($mdThemingProvider, $mdGestureProvider){
            $mdThemingProvider.theme('default')
                .primaryPalette('deep-purple')
                .accentPalette('indigo');
          });

      deferredBootstrapper.bootstrap({
        element: document.body,
        module: 'r2drink2app',
        resolve: {
          ALL_RECIPES: ['$http', function ($http) {
            return $http.get('/api/recipes');
          }],
          ALL_INGREDIENTS: ['$http', function ($http) {
            return $http.get('/api/ingredients');
          }],
          MENU: ['$http', function ($http) {
            return $http.get('/api/menu');
          }],
        }
      });

    </script>

  </body>
</html>